<div class="jumbotron">
  <h3>SwitchChat Initiated!</h3>
  <p class="lead">Please sign in with one of the social networks to start chatting</p>
  <%= link_to 'twitter', '/auth/twitter', class: 'btn social twitter' %>
  <%= link_to 'facebook', '/auth/facebook', class: 'btn social facebook' %>
</div>